.app-wrapper {
    background-color: rgb(180, 180, 180);
    padding: 20px 10% 0;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}